# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import sqlalchemy
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
ip = 'relational.fit.cvut.cz'
driver = 'mysql+pymysql'
port = '3306'
user = 'guest'
password = 'relational' 
database = 'stats'

In [4]:
conn_string = f'{driver}://{user}:{password}@{ip}:{port}/{database}'

conn = sqlalchemy.create_engine(conn_string)

In [24]:
conn

Engine(mysql+pymysql://guest:***@relational.fit.cvut.cz:3306/stats)

#### 4. Import the users table.

In [25]:
users = pd.read_sql_query('SELECT * FROM stats.users;', conn)

In [26]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [37]:
user_ch = users.rename(columns = {'Id' : 'userId'})

In [38]:
user_ch.head(2)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None

#### 6. Import the posts table.

In [39]:
posts = pd.read_sql_query('SELECT * FROM stats.posts;', conn)

In [45]:
posts.head(2)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [46]:
posts_ch = posts.rename(columns = {'Id' : 'postId', 'OwnerUserId' : 'userId'})

In [47]:
posts_ch.head(2)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [48]:
new_users = user_ch[['userId','Reputation','Views','UpVotes','DownVotes']]

In [49]:
new_posts = posts_ch[['postId','Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [53]:
new_users.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [82]:
result = pd.merge(new_users,
                  new_posts,
                  on='userId',
                  how='inner')

In [85]:
result.shape

(90584, 9)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [65]:
result.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

In [80]:
# lo primero que haría sería eliminar estas 211 rows con userId = -1 
#porque tienen 0 views y en la columna ViewCount = NaN, no nos aporta ninguna info. 
#Pasamos de 90584 a 90373 

result[(result['userId'] == -1)][0:3]

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0

In [81]:
result[result.userId != -1]

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229.0,5
212,5,6792,1145,662,5,12,20,NaN,1
213,5,6792,1145,662,5,32,12,NaN,0
214,5,6792,1145,662,5,49,6,NaN,0
215,5,6792,1145,662,5,64,6,NaN,0
216,5,6792,1145,662,5,76,22,NaN,3
217,5,6792,1145,662,5,83,2,NaN,0
218,5,6792,1145,662,5,96,4,NaN,0
219,5,6792,1145,662,5,103,28,1990.0,6
220,5,6792,1145,662,5,108,14,NaN,1
221,5,6792,1145,662,5,125,75,29261.0,2
222,5,6792,1145,662,5,126,26,NaN,4
223,5,6792,1145,662,5,131,23,NaN,0
224,5,6792,1145,662,5,139,21,NaN,2
225,5,6792,1145,662,5,197,9,NaN,1
226,5,6792,1145,662,5,199,4,NaN,0
227,5,6792,1145,662,5,217,6,NaN,4
228,5,6792,1145,662,5,299,8,NaN,0
229,5,6792,1145,662,5,306,8,NaN,2
230,5,6792,1145,662,5,314,11,NaN,1
231,5,6792,1145,662,5,329,11,NaN,0
232,5,6792,1145,662,5,398,14,NaN,1
233,5,6792,1145,662,5,423,156,64481.0,7
234,5,6792,1145,662,5,433,40,NaN,0
235,5,6792,1145,662,5,504,4,NaN,0
236,5,6792,1145,662,5,550,11,NaN,0
237,5,6792,1145,662,5,560,9,NaN,2
238,5,6792,1145,662,5,562,10,1005.0,1
239,5,6792,1145,662,5,569,3,NaN,0
240,5,6792,1145,662,5,593,3,NaN,1
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,NaN,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [ ]:
#

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?